.home-section {
  width: 97%;
  padding-top: 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

@media only screen and (max-width: 1300px) {
  .home-section {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .home-section {
    margin-bottom: 2rem;
  }
}
