.song-list {
  width: 100%;
  padding: 2rem 200px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-auto-rows: minmax(9rem, auto);
}

@media screen and (max-width: 1460px) {
  .song-list {
    padding-top: 6rem;
    grid-template-columns: repeat(4, 25%);
  }
}

@media screen and (max-width: 1300px) {
  .song-list {
    padding: 3rem 60px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .song-list {
    padding-top: 8rem;
    padding-bottom: 3rem;
    grid-template-columns: repeat(3, 33%);
  }
}

/* @media screen and (max-width: 900px) and (orientation: landscape) {
  .song-list {
    padding: 6rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
} */

@media screen and (max-width: 768px) {
  .song-list {
    padding: 6rem 1rem;
    grid-template-columns: repeat(2, 50%);
  }
}
