.scrollTop {
  position: fixed;
  bottom: 50px;
  right: calc(50% - 35px);
  width: 70px;
  cursor: pointer;
  animation: ease-in-out 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  z-index: 1000;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
