@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  --primary-color: #fcb2d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 4px;
  width: 100%;
}

main {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.active {
  text-decoration: underline 2px;
}

.infinite-scroll-component__outerdiv {
  padding-top: 100px;
}
